<template name='layout_chart'>
    <div class='slide-layout'>
        <div class="content">
            <h1>{{question}}</h1>
            <div class="row" style="margin-top: 40px;">
                <div class="col s4">
                    {{answer1 }} - {{answer1Votes}}
                </div>
                <div class="col s4">
                    {{answer2 }} - {{answer2Votes}}
                </div>
                <div class="col s4">
                    {{answer3 }} - {{answer3Votes}}
                </div>
            </div>
        </div>
    </div>
</template>
