.background {
    background-image: url('https://unsplash.it/4704/3136?image=866');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}

.login-box {
    position: absolute;
    width: 400px;
    height: 300px;
    background-color: #fff;
    right: 10%;
    top: 25%;
}
