.thumbnail-list {
    height: 700px;
    text-align: center;
}

.toolbar {
    background-color: #ECECEC;
    margin-bottom: 40px;
    height: 50px;
}

.slide {
    height: 700px;
    margin: 20px;
}

.thumbnail {
    height: 150px;
    width: 170px;
    margin: 20px;
    display: inline-block;
    position: relative;
    background-color: white;
}

.thumbnail-add {
    background-color: #EDEDED;
    color: #C5C5C5;
    text-align: center;
    cursor: pointer;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.thumbnail-add .content {
    display: inline-block;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.8rem;
    font-weight: 400;
}

.thumbnail .content i {
    display: block;
    font-size: 3rem;
}
