<template name='dashboard'>
	{{ > nav }}
	{{#if currentUser}}
		<div class="wrapper">
			<div class="tabs-container">
				<ul class="tabs">
					<li class="tab col m4 l4 s12"><a href="#test1">Minhas Apresentações</a></li>
					<li class="tab col m4 l4 s12"><a href="#test2">Apresentações a decorrer</a></li>
					<li class="tab col m4 l4 s12"><a href="#test4">Todas as apresentações</a></li>
				</ul>
			</div>
			<div class="container spacer">
				<div class="row">
					<div id="test1" class="col s12 m12 l12">
						<div class="row">
							{{#each user_presentations}}
								<div class="col m3 l3 s12">
									<div class="item z-depth-1">
										<div class="preview" style="background-color: black;">
											<div class="content">
												<p class="title">{{name}}</p>
											</div>
										</div>
										<div class="info">
											<p class="author">Author: <a href="#">{{currentUser.profile.name}}</a></p>
										</div>
										<a href="/edit/{{_id}}" class="overlay">
											<span class="icon"><i class="fa fa-play"></i></span>
										</a>
									</div>
								</div>
							{{/each}}
						</div>
					</div>
					<div id="test2" class="col s12 m12 l12">
						<div class="row">
							{{#each live_presentations}}
								<div class="col m3 l3 s12">
									<div class="item z-depth-1">
										<div class="preview" style="background-color: black;">
											<div class="content">
												<p class="title">{{name}}</p>
											</div>
										</div>
										<div class="info">
											<p class="author">Author: <a href="#">{{owner.name}}</a></p>
										</div>
										<a href="/show/{{_id}}" class="overlay">
											<span class="icon"><i class="fa fa-play"></i></span>
										</a>
									</div>
								</div>
							{{/each}}
						</div>
					</div>

					<div id="test4" class="col s12 m12 l12">
						<div class="row">
							{{#each all_presentations}}
								<div class="col m3 l3 s12">
									<div class="item z-depth-1">
										<div class="preview" style="background-color: black;">
											<div class="content">
												<p class="title">{{name}}</p>
											</div>
										</div>
										<div class="info">
											<p class="author">Author: <a href="#">{{owner.name}}</a></p>
										</div>
										<a href="/show/{{_id}}" class="overlay">
											<span class="icon"><i class="fa fa-play"></i></span>
										</a>
									</div>
								</div>
							{{/each}}
						</div>
					</div>
				</div>
			</div>
		</div>
	{{else}}
		<div class="wrapper">
			<div class="tabs-container">
				<ul class="tabs">
					<li class="tab col m4 l4 s12"><a href="#test2">Live Presentations</a></li>
					<li class="tab col m4 l4 s12"><a href="#test4">All Presentations</a></li>
				</ul>
			</div>
			<div class="container spacer">
				<div class="row">
					<div id="test2" class="col s12 m12 l12">
						<div class="row">
							{{#each live_presentations}}
								<div class="col m3 l3 s12">
									<div class="item z-depth-1">
										<div class="preview" style="background-color: black;">
											<div class="content">
												<p class="title">{{name}}</p>
											</div>
										</div>
										<div class="info">
											<p class="author">Author: <a href="#">{{owner.name}}</a></p>
										</div>
										<a href="/show/{{_id}}" class="overlay">
											<span class="icon"><i class="fa fa-play"></i></span>
										</a>
									</div>
								</div>
							{{/each}}
						</div>
					</div>
					<div id="test4" class="col s12 m12 l12">

					</div>
				</div>
			</div>
		</div>
	{{/if}}
</template>
