<template name='nav'>
	<nav>
		<div class="nav-wrapper">
			<a class="button-menu" data-activates="nav-mobile"><i class="material-icons">menu</i></a>
			<a href="/dashboard" class="brand-logo">SlideOPS</a>
			<ul id="nav-desktop" class="right hide-on-med-and-down">
				<li><button class="new-presentation-js waves-effect waves-light btn">Nova apresentação</button></li>
				<li><a class="dropdown-button" href="#!" data-activates="dropdown1">Username<i class="material-icons right">more_vert</i></a></li>
			</ul>
			<ul id="nav-mobile" class="side-nav">
				<li><a href="#">YO</a></li>
			</ul>
		</div>
		<ul id="dropdown1" class="dropdown-content">
			<li><a href="#!">one</a></li>
			<li><a href="#!">two</a></li>
			<li class="divider"></li>
			<li><a href="#!">three</a></li>
		</ul>
	</nav>
</template>
