nav {
    background-color: #41AFD4;
    z-index: 801;
    position: fixed;
}

@media only screen and (max-width: 992px){
    nav .brand-logo {
        left: 0;
    }
}

nav .btn {
    background-color: #287995;
    font-weight: bold;
}

nav .brand-logo {
    font-size: 1.5rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: left;
}

nav .button-menu {
    margin: 0 20px;
    display: inline-block;
    cursor: pointer;
    float: left;
}

nav .dropdown-button {
    margin-left: 15px;
}

.spacer {
     margin-top: 50px;
}

#input-presentation-name {
    border: 0;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 220px;
    margin-bottom: 0;
    height: 60px;
    width: 150px;
}

#input-presentation-name:active #input-presentation-name:focus {
    border-bottom: 1px solid #fff!important;
    box-shadow: 0 1px 0 0 #fff!important;
}
