nav {
    background-color: #41AFD4;
    z-index: 801;
    position: fixed;
}

@media only screen and (max-width: 992px){
    nav .brand-logo {
        left: 0;
    }
}

nav .btn {
    background-color: #287995;
    font-weight: bold;
}

nav .brand-logo {
    font-size: 1.5rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: left;
}

nav .button-menu {
    margin: 0 20px;
    display: inline-block;
    cursor: pointer;
    float: left;
}

nav .dropdown-button {
    margin-left: 15px;
}

.spacer {
     margin-top: 50px;
}
