<template name='presentationShow'>
	{{ > nav }}
	<div class="hide-on-med-and-down">
		<div class="wrapper">
			<div class="presentation">
				<div class="row">
					<div class="col offset-s2 offset-m2 offset-l2 l8 m8 s8">
						<div class="row">
							<div class="col m12 l12">
								<div class="slide-main z-depth-1">

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hide-on-large-only" >
		<div class="presentation-mobile">
			<div class="wrapper">
				<ul class="tabs presentation-tabs z-depth-1">
					<li class="tab col s3"><a class="active"  href="#overview">Overview</a></li>
					<li class="tab col s3"><a href="#questions">Perguntas</a></li>
				</ul>
				<div id="overview" class="tab-content">
					<div class="slide-main z-depth-1">
						<div class="slide-secondary z-depth-1">

						</div>
					</div>
					<a class="waves-effect waves-light btn" href="question">Make a question</a>
				</div>
				<div id="questions" class="tab-content">
					<div class="row">
						<div class="col s12">
							<a class="waves-effect waves-light btn" href="question">Make a question</a>
						</div>
					</div>
					<div class="questions-list-mobile">
						<div class="row">
							<div class="col s12">
								<h3>All Users Questions: </h3>
								<div class="question-mobile z-depth-1">
									<div class="row">
										<div class="col s1">
											<span class="circle-badge">2</span>
										</div>
										<div class="col s11">
											Asked by <a href="#">username</a>
										</div>
									</div>
									<div class="row">
										<div class="col offset-s1 s11">
											Question here... lorem ipsum
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<div class="question-mobile z-depth-1">
									<div class="row">
										<div class="col s1">
											<span class="circle-badge">2</span>
										</div>
										<div class="col s11">
											Asked by <a href="#">username</a>
										</div>
									</div>
									<div class="row">
										<div class="col offset-s1 s11">
											Question here... lorem ipsum
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<div class="question-mobile z-depth-1">
									<div class="row">
										<div class="col s1">
											<span class="circle-badge">2</span>
										</div>
										<div class="col s11">
											Asked by <a href="#">username</a>
										</div>
									</div>
									<div class="row">
										<div class="col offset-s1 s11">
											Question here... lorem ipsum
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<div class="question-mobile z-depth-1">
									<div class="row">
										<div class="col s1">
											<span class="circle-badge">2</span>
										</div>
										<div class="col s11">
											Asked by <a href="#">username</a>
										</div>
									</div>
									<div class="row">
										<div class="col offset-s1 s11">
											Question here... lorem ipsum
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</template>
