.slide-main {
    height: 700px;
    margin: 20px;
    z-index: 100;
    position: relative;
}

.slide-secondary {
    height: 150px;
    width: 200px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 200;
    opacity: 0.8;
}

.slides {
    height: 100%;
    padding-bottom: 20px;
}

.slides-list {
    direction: rtl;
    overflow-y: auto;
    max-height: 100%;
}

.slide {
    height: 150px;
    width: 200px;
    margin: 15px 20px;
    display: inline-block;
    position: relative;
    background-color: white;
    cursor: pointer;
    direction: rtl;
    overflow-y: auto;
}

.slide.active {
    border: 2px solid #41AFD4;
}

.questions {
    background-color: rgb(240, 240, 240);
    text-align: center;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    padding-top: 170px;
    padding-bottom: 20px;
    width: 16.66667%;
}
.questions-list {
    overflow-y: auto;
}

.questions label {
    text-align: left;
    display: block;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 14px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    color: #606060;
}

.question-mobile{
    padding: 15px;
    cursor: pointer;
}

.question{
    padding: 15px;
    margin: 10px 20px;
    cursor: pointer;
    text-align: left;
}

.question:first-child{
    margin-top: 20px;
}

.question .row{
    margin-bottom: 0;
}

.circle-badge {
    border-radius: 15px;
    background-color: #526CCC;
    padding: 5px 10px;
    color: #fff;
    margin: 10px;
}

.forms-questions {
    background-color: #f0f0f0;
}
